/* global variables representiving colors that are complimentary*/
:root {
      --oceangreen: #DEF2F1;
      --black: #17252A;
      --white: #FEFFFF;
      --aqua: #3aafa9;
      --darkaqua: #2b7a78;
    }

/* changes the font and background color of the whole page */
* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: var(--oceangreen);
}

/* adds background-color to nav bar*/
nav {
    background-color: var(--aqua);
}

/* makes the whole nav bar + name heading a flex box */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* add padding and increase font for name heading */
.navbar h1{
    font-size: 40px;
    padding: 15px;
    color: var(--white);
    font-weight: bolder;
    background-color: var(--aqua);
}

/* creates a flexbox for the navlinks */
.nav-container {
    display: flex;   
    list-style: none;
}

/* adds styling to the links; allows items to be aligned next to one another*/
.nav-items a {
    display: inline;
    padding: 24px 15px;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    font-size: 20px;
    background-color: var(--aqua);
}

/* when hovering over links color of text and background changes*/
.nav-items a:hover {
    background: var(--darkaqua);
}

/* creates a flex box that surronds both the image and text */
.aboutme_container {
    display: flex;
    align-items: right;
    gap: 50px;
    padding-right: 20px;
}

/* styles and adds positioning for image */
.profile_pic {
    position: relative;
    width: 28%;
    height: auto;
    top: 20px;
    left: 30px;
    object-fit: contain;
}

.aboutme_text h2 {
    color: var(--darkaqua);
    font-size: 3vw;
    padding: 20px;
    font-weight: 75s0;
    text-decoration: underline;
}

/*styling for about me text paragraph */
.aboutme_text p{
    color: var(--aqua);
    font-size: 3vw;
    text-align: left;
    padding-left: 20px;
    line-height: 1.5;
    text-indent: 40px;
}

/* change format and styling when scaled down for mobile application */

@media only screen and (max-width: 600px){
    .navbar {
        background-color: var(--black);
        display: block;
        width: 100%;
    }

    .navbar h1 {
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }

    .nav-container {
        display: block;    
    }

    .nav-items a{
        width: 100%;
        padding-left: 0px;
        display: block;
        font-size: 16px;
        font-weight: 600;
    }
}